:root {
  --color-brand-main: #ff7143;
  --color-brand-main-active: #9f3919;
  --color-brand-second: #5454d4;
  --color-brand-main-tsp: rgb(255 113 67 / 0.27);
  --color-bg-light: #fff;
  --color-bg-light-tsp: rgb(255 255 255 / 0);
  --color-text-main: #696871;
  --color-text-accent: #19191b;
  --color-text-inverted: #fff;
  --color-card-text-price: #1d293f;
  --color-card-bg: #f8f8f8;
  --color-card-btn-border: #eae9f2;
  --color-input-placeholder: #000;
  --color-shadow: rgba(1, 0.4, 0.2, 0.3);

  --font-main: 'DM Sans', serif;
  --font-second: 'Mulish', serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.47px;
  color: var(--color-text-main);
  background-color: var(--color-bg-light);
}

.button {
  width: 215px;
  padding-block: 19px;
  text-align: center;

  font-family: var(--font-main);
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.53px;
  cursor: pointer;

  color: var(--color-text-inverted);
  background-color: var(--color-brand-second);
  border-radius: 10px;
  border: 1px solid var(--color-brand-second);
}
.button:hover {
  color: var(--color-brand-second);
  background-color: var(--color-bg-light);
  border-color: var(--color-brand-second);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.link {
  letter-spacing: -0.47px;
}
.link a {
  text-decoration: none;
  color: var(--color-text-main);
}

.section {
  padding-block: 120px;
}

.container {
  max-width: 1076px;
  margin: 0 auto;
}

.section-header,
.section-footer {
  padding-block: 44px;
  background-color: var(--color-brand-main-tsp);
}
.header-container,
.footer-container,
.container-activity,
.container-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-plan {
  display: block;
}
.container-activity {
  gap: 109px;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link a {
  padding-block: 30px;
}
.nav-link:hover a {
  color: var(--color-text-accent);
}
.header-container .button {
  background-color: var(--color-brand-main);
  border-color: var(--color-brand-main);
}
.header-container button:hover {
  color: var(--color-text-inverted);
  background-color: var(--color-brand-main-active);
  border-color: var(--color-brand-main-active);
}
.activity-title {
  margin-block: 30px;
  font-size: 80px;
  letter-spacing: -2.5px;
  line-height: 77px;
  color: var(--color-text-accent);
}
.activity-description {
  margin-bottom: 50px;
  font-family: var(--font-second);
  font-size: 20px;
  letter-spacing: -0.63px;
  line-height: 30px;
  color: var(--color-text-main);
}
.btn-try {
  margin-left: 36px;
  color: var(--color-brand-second);
  background-color: var(--color-bg-light);
  border-color: var(--color-brand-second);
}
.btn-try:hover {
  color: var(--color-text-inverted);
  background-color: var(--color-brand-second);
}
.section-subscribe {
  padding: 0;
}
.subscribe-title {
  margin-bottom: 38px;
  font-size: 50px;
  letter-spacing: -1.56px;
  line-height: 57px;
  color: var(--color-text-accent);
}
.input-email {
  width: 300px;
  margin-right: 40px;
  padding-block: 19px;
  padding-left: 14px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--color-brand-second);
}
.input-email::placeholder {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.53px;
  color: var(--color-input-placeholder);
}
.plan-title {
  margin-bottom: 110px;
  font-size: 60px;
  letter-spacing: -1.88px;
  line-height: 70px;
  color: var(--color-text-accent);
}
.plan-list {
  display: flex;
  gap: 40px;
}
.card-item {
  width: 332px;
  padding: 34px 22px 24px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-card-bg);
}
.card-item > .button-card {
  width: 100%;
  color: var(--color-brand-second);
  background-color: var(--color-bg-light);
  border-color: var(--color-bg-light);
}
.card-item:hover {
  background-color: var(--color-brand-main);
  box-shadow: 0px 32px 34px rgba(1, 0.4, 0.2, 0.3);
}
.card-item:hover .item-title,
.card-item:hover .item-price,
.card-item:hover .feature-item,
.card-item:hover .button-card {
  color: var(--color-text-inverted);
}
.card-item:hover > .button-card {
  color: var(--color-text-inverted);
  background-color: var(--color-brand-main-active);
  border-color: var(--color-brand-main-active);
}
.item-title {
  font-size: 18px;
  letter-spacing: -0.56px;
  line-height: 28px;
  color: var(--color-text-main);
}
.item-price {
  margin-top: 22px;
  font-size: 60px;
  letter-spacing: -1.03px;
  line-height: 56px;
  color: var(--color-card-text-price);
}
.item-price span {
  font-size: 28px;
}
.feature-list {
  margin-top: 28px;
  margin-bottom: 36px;
}
.feature-item {
  font-size: 17px;
  font-family: Mulish;
  letter-spacing: -0.53px;
  line-height: 50px;
  color: var(--color-text-main);
}
.card-item .button-card:hover {
  background-color: var(--color-brand-main);
}
